* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 100px;
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  left: auto;
  right: auto;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.inputContainer {
  margin-bottom: 30px;
}

.inputText {
  width: 60%;
  height: 40px;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid #dce4ec;
  transition: all 0.4s;
  padding: 20px;
}
.inputText:focus {
  outline: none;
  border: 1px solid black;
}

button {
  width: 60px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid;
  background: none;
  transition: all 0.4s;
  margin-left: 4px;
}
button:hover {
  color: white;
  background-color: tomato;
}

input[type="checkbox"] {
  margin: 10px;
}

.todoText {
  font-size: 20px;
  display: inline-block;
  padding: 0;
  margin: 15px;
}
